apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-python-basic
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads-stage/mjobanek-tenant/my-app-1/devfile-sample-python-basic@sha256:f054a5645d29d499041fe6408064d437388f428126ad5ecc17fa943de731e5dd
        name: my-python
        resources: {}
status: {}
